python-practice/project-euler/problem_twentythree/.mypy_cache/
python-practice/project-euler/problem_twentythree/__pycache__/main.cpython-37.pyc
python-practice/project-euler/problem_twentythree/__pycache__/test.cpython-37-PYTEST.pyc
python-practice/project-euler/problem_twentythree/.mypy_cache/3.7/main.data.json
.gitignore
